body {
    font-family: 'Lato', sans-serif;
    background: #333;
}

        #hidemenu {
            display: none;
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #bbb;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        .sidemenu {
            text-align: left;
            padding-top: 100px;
            padding-left: 10px;
            display: block;
            background: #333;
        }

        .sidemenu a {
            text-decoration: none;
            font-size: 36px;
            color: white;
        }

        .sidemenu li {
            list-style-type: none;
            padding-left: 8px;
        }

        .bottom {
            margin-top: 160%;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 4fr;
            height: 100vh;
            grid-gap: 10px;
        }

        .content {
            background: #fdfff8;
        }

        .content p {
            font-size: 2rem;
            margin-left: 20px;
        }

        @media screen and (max-width: 1000px) {
            #hidemenu {
                display: block;
                color: white;
                background: #333;
                border-radius: 5px;
            }
            .overlay-content a {
                font-size: 100px;
            }
            .sidemenu{
                display: none;
            }
            .wrapper {
                display: block;
            }
            .content {
                height: 100vh;
            }
        }